@import "./variableStyles.scss";

$bg-color: linear-gradient(90deg, #ff6968 0%, #ffa3a3 100%);
$primary: #0f123f;

.dashboard-sider {
  .ant-menu-submenu {
    .ant-menu-submenu-title {
      grid-gap: 1rem;
      border-radius: 0.5rem;
      padding: 5px 5px;
      padding-left: 20px !important;
      color: #464951;
      height: 50px;
    }
    .ant-menu {
      .ant-menu-item {
        grid-gap: 2rem;
        border-radius: 0.5rem;
        padding-left: 68px !important;
        color: #464951;
      }
    }
    :hover {
      .ant-menu-submenu-arrow {
        @apply text-primary-green;
      }
    }
  }
  .ant-menu-item-icon {
    font-size: 18px;
  }
  .ant-menu-submenu-active {
    .ant-menu-submenu-title {
      @apply text-primary-green;
    }
  }

  .ant-menu-item {
    color: #464951;
    box-shadow: rgba(0, 0, 0, 0.06);
    padding: 5px 5px;
    padding-left: 20px !important;
    border-radius: 0.5rem;
    grid-gap: 1rem;
    height: 50px;
  }

  .sidebar-icon {
    background: #eaeaea;
    padding: 7px;
    border-radius: 2px;
  }
  .ant-menu-item::after {
    @apply border-r-0;
  }
  .anticon + span {
    @apply ml-0;
  }

  .ant-menu-item-selected,
  .ant-menu-item-active {
    @apply text-primary-green bg-transparent;
  }
}
.ant-menu-light .ant-menu-item:hover {
  @apply text-primary-green;
}
.ant-menu.ant-menu-inline-collapsed {
  @apply border-r border-primary-green;
}
.ant-menu-inline {
  @apply bg-transparent;
}
.ant-form input[type="checkbox"]:focus {
  outline: 0;
}
.ant-modal-header {
  width: 100% !important;
  border-radius: 5px 5px 0px 0px;
  height: 68px;
  display: flex;
  align-items: center;

  @apply bg-primary-green;
}
.ant-modal-content {
  border-radius: 5px;
  .ant-input {
    height: 44px;
  }
  .select-tag {
    .ant-select-selector {
      .ant-select-selection-item {
        padding: 0px 0px !important;
      }
    }
  }
  .ant-select-selector {
    height: 44px !important;
    .ant-select-selection-item {
      padding: 6px 0px !important;
    }
    //.ant-select-selection-placeholder {
    //   padding-top: 5px;
    // }
  }
  .ant-input:focus,
  .ant-input:hover {
    border-color: $primary !important;
    box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
  }
  .ant-form-item-control-input {
    .ant-select-focused {
      .ant-select-selection-search-input {
        margin: 5px 0px;
      }
      .ant-select-selector {
        border-color: $primary !important;
        box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
      }
    }
  }
  .ant-select-selector:focus,
  .ant-select-selector:hover {
    border-color: $primary !important;
    box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
  }

  .ant-modal-close {
    color: #fff;
    font-size: 22px;
  }
}
.ant-modal-footer {
  .ant-btn-primary {
    height: 45px;
    border-color: $primary;
    background-color: $primary;
    border-radius: 5px;
  }

  .ant-btn-default {
    color: #fff;
    background-color: #ff7473;
    border-radius: 5px;
    width: 97px;
    height: 45px;
  }
  .ant-btn-default:hover {
    border-color: #ff7473;
  }
}
.ant-checkbox-wrapper {
  margin-left: 0 !important;
}

.view_form_modal {
  .ant-modal-header {
    width: 97%;
  }
}

.custom-table {
  .ant-table-thead {
    .ant-table-cell {
      background-color: #fff;
      font-style: none;
      font-size: 16px;
      font-weight: 600;
    }
    .ant-table-cell::before {
      background-color: #fff !important;
    }
  }
  .ant-table-tbody {
    .ant-table-cell {
      font-size: 16px;
      font-weight: 500;
      color: #6b6b6b;
    }
  }
  .ant-pagination-item-active {
    border-color: $primary;
    color: $primary;
  }
  .ant-pagination-item-active a {
    color: $primary;
  }
}
.review-question-table {
  .ant-table-cell-fix-left {
    font-weight: 600 !important;
  }
  .ant-table-thead {
    .ant-table-cell {
      font-style: none;
      font-size: 15px;
      font-weight: 500;
    }
    .ant-table-cell::before {
      background-color: #fff !important;
    }
  }
  .ant-table-cell-fix-left {
    font-size: 15px;
    font-weight: 500;
  }

  .ant-table-thead > tr > th {
    resize: horizontal;
    overflow: hidden;
    .ant-table-column-title {
      overflow: hidden;
    }
  }
  .ant-table-content {
    table {
      margin-bottom: 18px;
    }
  }
}

.ant-layout-sider-trigger {
  color: #000 !important;
  background: #fff !important;
}

.rightsidebar-icon {
  font-size: 34px;
}
.review-collapse {
  .ant-collapse-item {
    background-color: #fff !important;
    box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
    border-radius: 6px !important;
    .ant-collapse-header,
    .ant-collapse-arrow {
      font-size: 15px;
      font-weight: 600;
    }
    .ant-collapse-content-active {
      .ant-collapse-content-box {
        padding: 0px 0px;
      }
    }
  }
}
.sider-question-wrapper {
  max-height: 370px;
  @include mobile {
    max-height: 300px;
  }
}
.add-template-wrapper {
  .ant-form-item-control {
    .ant-input {
      height: 44px;
    }
  }

  .ant-form {
    .ant-form-item-control {
      .ant-input-lg {
        font-size: 14px;
        padding: 7.5px 11px;
      }
    }
    .input-box {
      height: 32px;
      border-bottom: 1px solid #d9d9d9;
    }

    .ant-select-selector {
      font-size: 14px;
    }
    #user_id {
      height: 44px;
    }
  }

  .ant-radio:focus,
  .ant-radio:hover {
    .ant-radio-inner {
      border-color: $primary !important;
    }
  }

  .ant-radio-wrapper:focus,
  .ant-radio-wrapper:hover {
    .ant-checkbox-inner {
      border-color: $primary;
    }
  }
  .ant-radio-checked {
    .ant-radio-inner {
      border-color: $primary;
      box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
    }
  }
  .ant-radio-inner::after {
    background-color: $primary;
  }

  .question-edit-view {
    border-bottom: 1px solid #e3e3e3;
    span {
      padding: 20px;
      cursor: pointer;
      font-weight: 600;
    }
    .active-tab {
      border-bottom: 3px solid #ff6968;
      color: #ff6968;
    }
  }
}

.ant-collapse-item-active {
  .ant-collapse-header {
    @apply bg-brandGray-150;
    color: #000 !important;
  }
}
.review-font-color {
  color: $primary;
}

.primary-bg-btn {
  background-color: $primary;
}
.primary-bg-btn:hover {
  border-color: $primary;
}
.primary-bg-color {
  background: $primary;
}
.toggle-btn-bg {
  background: $bg-color;
}
.toggle-btn-bg:hover {
  border-color: $primary;
}

.modal-answer-wrapper {
  .ant-modal-body {
    padding: 0;
  }
}

.loaderimg,
.login-image-wrapper {
  background-image: url("/media/images/bg/banner-bg-shape.webp");
}
.login-image-wrapper {
  background-color: $primary;
  height: 100%;

  .image-wrapper {
    width: 650px;
    height: 450px;
    @include desktop {
      width: 500px;
      height: 340px;
    }
    @include tab {
      width: 450px;
      height: 300px;
    }
  }
}

.login-bottom-image {
  background-image: url("/media/images/bg/login-bottom-design.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  height: 250px;
  position: absolute;
  width: 250px;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.login-top-image {
  background-image: url("/media/images/bg/login-top-design.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  height: 250px;
  position: absolute;
  width: 250px;
  top: 0;
  right: 0;
  z-index: -1;
}

.btn-blue {
  background-color: $primary;
}

.login-form {
  .ant-form-item-required:before {
    display: none !important;
  }
  .ant-form-item-label {
    font-size: 15px;
    padding: 0 0 2px;
  }

  .ant-input:focus,
  .ant-input:hover {
    border-color: $primary;
  }
}
.ant-popover {
  .ant-btn-primary {
    background-color: $primary;
    color: #fff;
    border-color: $primary;
  }
}

.ant-collapse {
  border-radius: 0.75rem !important;
  border: 0;
  background-color: #d1cfcf;
  .ant-collapse-item {
    border-bottom: 0 !important;
  }
  .ant-collapse-header {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }
  .ant-collapse-content {
    border-top: 0;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
}
.radio-button {
  .ant-space-item {
    .ant-radio-wrapper {
      font-size: 16px !important;
      font-weight: 500px !important;
    }
  }
}

.rating-slider {
  margin-bottom: -10px;
  .ant-slider-rail {
    height: 6px;
    background-color: #cecece !important;
  }
  .ant-slider-track {
    height: 6px;
    background-color: $primary !important;
  }
  .ant-slider-handle {
    margin-top: -7px !important;
    width: 20px;
    height: 20px;
    background-color: $primary !important;
    border: 2px solid $primary;
    cursor: grab;
  }
  .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: $primary !important;
  }
}

.ant-form-item-control-input {
  .ant-input:hover,
  .ant-input:focus {
    border-color: $primary;
    box-shadow: 0 0 0 0px rgba(0, 5, 204, 0.35) !important;
  }
}

.profile-submit-button {
  color: #fff !important;
  height: 100% !important;
  font-size: 15px;
  border-radius: 5px;
  background-color: $primary !important;
  border-color: $primary !important;
}

.bg-delete-icon {
  background-color: #ff6968;
}

.create-dropdown {
  .ant-dropdown-menu-title-content {
    padding: 3px 0px;
    font-weight: 500;
    font-size: 16px;
  }
  .ant-dropdown-menu-item:hover {
    background: $bg-color;
    color: #fff;
  }
  .ant-dropdown-menu {
    border-radius: 5px;
  }
}

.logout-dropdown {
  max-width: 350px !important;
  min-width: 220px !important;

  .ant-dropdown-menu-submenu-title {
    .ant-dropdown-menu-submenu-expand-icon {
      display: none;
    }
  }
  .ant-dropdown-menu-item:hover {
    background: $bg-color;
    color: #fff;
  }
  .ant-dropdown-menu-submenu-open {
    background: $bg-color;
    color: #fff;
    .ant-dropdown-menu-submenu-title:hover {
      background: $bg-color;
      color: #fff;
    }
  }
  .ant-dropdown-menu {
    border-radius: 5px;
  }
}
.answer-bg-icon {
  background-color: #dfe1ff;
}
.tag-select-box {
  .ant-select-selection-item {
    padding: 0 !important;
  }
}

.full-width-label {
  .ant-form-item-label label {
    width: 100%;
  }
}

.answer-bg,
.review-form-bg {
  // background-image: url("/media/images/bg/answerbg.webp");
  background-color: #f3f3fc;
  background-size: cover;
}

.answer-bg {
  background-repeat: repeat;
  min-height: 100vh;
}

.review-form-bg {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.question-section-container {
  .question-section-contents-card {
    .question-section-wrapper {
      .linear-bg {
        background: $bg-color;
        color: #fff;
        padding: 4px 10px;
      }
    }
    .border-bottom {
      border-bottom: 1px solid #e3e3e3;
    }
  }
}
.template-title-input {
  .input-box {
    border-bottom: 2px solid $primary;
    font-size: 22px !important;
  }
}

.review-answer {
  .ant-space-item:focus {
    .ant-radio-inner {
      border-color: $primary !important;
      box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
    }
  }
  .ant-space-item:hover {
    .ant-radio-inner {
      border-color: $primary !important;
    }
  }

  .ant-radio-wrapper:focus,
  .ant-radio-wrapper:hover {
    .ant-checkbox-inner {
      border-color: $primary;
    }
  }
  .ant-radio-checked {
    .ant-radio-inner {
      border-color: $primary;
      box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
    }
  }
  .ant-radio-inner::after {
    background-color: $primary;
  }
}

.tooltip_chart {
  padding: 5px 15px;
}
.line-chart-text {
  position: absolute;
  top: 65%;
  left: 25%;
  right: 25%;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.bar-chart-text {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  text-align: center;
  color: #fff;
  @include mobile {
    top: 40%;
    left: 25%;
    right: 25%;
    bottom: 40%;
  }
}
.bg-blur-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
}

.review-answer {
  .input-box {
    border-bottom: 1px solid #d9d9d9;
  }
}

.ant-layout-sider-zero-width-trigger-left {
  display: none;
}

.answer-radio-button {
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}
.answer-radio-button:hover {
  background-color: $primary;
  color: #fff;
}
.ant-radio-button-wrapper-checked {
  background-color: $primary !important;
  color: #fff !important;
  border-color: $primary !important;
}

.answer-preview {
  .ant-radio-button-wrapper {
    height: 100%;
    line-height: 25px !important ;
  }
}
.dashboard-feedback {
  max-height: 220px;
  overflow: auto;
}

.notification-dropdown {
  max-width: 350px !important;
  min-width: 220px !important;

  .notification-wrapper {
    .notification-inner {
      max-height: 219px;
      overflow: auto;
      // .notification-border-bottom {
      //   border-bottom: 1px solid #e3e3e3;
      // }

      // .notification-box:hover {
      //   background: $bg-color;
      //   color: #fff;
      // }
    }
  }
}

.received-applaud-table {
  height: 500px;
  overflow: auto;
}
.received--all-applaud {
  max-height: 750px;
  overflow: auto;
  @include desktop {
    max-height: 650px;
  }
  @include tab {
    max-height: 550px;
  }
}

.preview-answer {
  .answer-bg {
    min-height: 82vh;
  }
  @include mobile {
    .answer-bg {
      min-height: 100vh;
    }
  }
  @include tab {
    .answer-bg {
      min-height: 78vh;
    }
  }
}

.review-view-input-wrraper {
  width: 95%;
  margin: 5px 0;
  .ant-input-disabled {
    border: 0 !important;
    border-radius: 3px !important;
    border-bottom: 1px solid #e3e3e3 !important;
  }
}
.question-view-radio-wrapper {
  min-width: 80%;
  flex-wrap: wrap;
  .ant-radio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ant-radio {
      margin: 10px 5px;
    }
  }
}
.question-rating {
  text-align: center;
  .ant-rate {
    color: $primary;

    .ant-rate-star {
      font-size: 40px;
    }
  }
}
.question-view-rating {
  text-align: center;
  .ant-rate {
    color: $primary;
    .ant-rate-star {
      font-size: 40px;
    }
  }
}
.review-question-rating {
  .ant-rate {
    color: $primary;
    .ant-rate-star {
      font-size: 22px;
    }
  }
}

.landing-page {
  .background-image {
    background-image: url("/media/images/bg/landing-rectangle.png");
    background-position: bottom;
    background-size: cover;
  }
  .backgroung-color-purple {
    background: #ecedff;
  }
  .background-color-grey {
    background: #cfcfcf;
  }
  .bg-group-img {
    background-size: cover;
    background-position: bottom;
    height: 50%;
  }
}
.ant-picker-cell-selected {
  .ant-picker-cell-inner {
    background: $primary !important;
  }
}
.chart-title {
  font-size: 20px;
  font-weight: 600;
  color: $primary;
}

.image_crop_modal {
  .img-crop-control-zoom {
    display: none !important;
  }
}

.profile-applaud-card {
  max-height: 500px;
  overflow: auto;
}
.margin-b-0 {
  margin-bottom: 0 !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primary;
  border-color: $primary !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: $primary !important;
}
.ant-checkbox-checked::after {
  border: 1px solid $primary;
}

.ant-select-item-group {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  cursor: default;
  font-weight: 700;
}
.ant-select-selector {
  border-radius: 0.375rem !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: $primary;
}
.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot,
.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: $primary;
}
.ant-input:focus,
.ant-input:hover {
  border-color: $primary !important;
  box-shadow: 0 0 0 1.5px rgba(0, 5, 204, 0.35) !important;
}

.custom-steps-wrapper {
  .ant-steps-item-process {
    .ant-steps-item-container {
      &:hover,
      &:focus {
        color: $primary !important;
      }
      .ant-steps-item-icon {
        background-color: $primary !important;
      }
    }
  }

  .ant-steps-item:not(.ant-steps-item-active)
    > .ant-steps-item-container[role="button"]:hover
    .ant-steps-item-title {
    color: $primary !important;
  }

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: $primary !important;
  }

  .ant-steps-item.ant-steps-item-active::before,
  .ant-steps-item::before {
    background-color: $primary !important;
  }

  .ant-steps-item-icon {
    border-color: $primary !important;
    line-height: 27px !important;
  }
  .ant-steps-item-finish .ant-steps-item-icon {
    border-color: $primary !important;
    line-height: 24px !important;
  }
}

.ant-tabs-ink-bar {
  background-color: $primary !important;
}

.ant-tabs-tab:hover {
  color: $primary !important;
}

.ant-tabs-tab-active {
  color: $primary !important;
  .ant-tabs-tab-btn {
    color: $primary !important;
  }
}
.question-select-box {
  .ant-select-selection-item {
    font-weight: 600;
  }
  .ant-select-selector:focus,
  .ant-select-selector:hover {
    border-color: $primary !important;
  }
}

.question-select-box.ant-select-focused:not(
    .ant-select-disabled
  ).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $primary !important;
  box-shadow: 0 0 0 0px rgba(0, 5, 204, 0.35) !important ;
}
.slider-radio {
  .ant-radio-wrapper-checked {
    .ant-radio-inner {
      background: $primary;
      border-color: $primary;
    }
    .ant-radio-inner::after {
      background: transparent;
    }
  }
  .ant-radio:hover .ant-radio-inner {
    border-color: $primary;
  }
}
.add-template-card {
  min-height: 260px;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $primary;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: $primary;
  box-shadow: 0 0 0 2px rgb(0, 5, 204, 0.35);
}

.ant-picker-panel {
  .ant-btn-primary {
    border-color: $primary;
    background: $primary;
    color: #fff;
  }
}
.ant-picker-input > input:hover {
  border-color: $primary;
  border-right-width: 1px;
}
.ant-picker:hover,
.ant-picker-focused {
  border-color: $primary;
}
.ant-picker-focused {
  border-color: $primary;
  box-shadow: 0 0 0 2px rgb(0, 5, 204, 0.35);
}
.recent-activity-timeline {
  .ant-timeline-item-head {
    @apply bg-transparent;
  }
}
