@import "./variableStyles.scss";

.dashboard-sider {
  flex-direction: column;
  list-style-type: none;
  display: flex;
  min-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  .ant-menu-submenu {
    border-radius: 0.5rem;
    .ant-menu-submenu-title {
      font-weight: 300;
      box-shadow: rgba(0, 0, 0, 0.06);
      color: #000;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 0.5rem;
      grid-gap: 1rem;
      gap: 1rem;
      align-items: center;
      display: flex;
    }
  }
  .ant-menu-submenu-active {
    .ant-menu-submenu-title {
      background-color: #0288d1;
      color: #fff;
      .ant-menu-submenu-arrow {
        color: #fff;
      }
    }
  }

  .ant-menu-sub {
    background: #fff;
  }

  .sidebar-icon {
    font-size: 18px;
  }

  .ant-menu-item {
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.06);
    color: #000;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    grid-gap: 1rem;
    // gap: 1rem;
    align-items: center;
    display: flex;
  }
  .anticon + span {
    margin-left: 0px;
  }

  .ant-menu-item-active {
    background: linear-gradient(to right, #03a5f0 0%, #038dd6 100%) !important;
    color: #fff !important;
  }
  .ant-menu-item-selected {
    background: linear-gradient(to right, #03a5f0 0%, #038dd6 100%) !important;
    color: #fff !important;
  }
}
.ant-form input[type="checkbox"]:focus {
  outline: 0;
}
.ant-modal-header {
  background: linear-gradient(to right, #a855f7 0%, #7e22ce 100%);
  border-radius: 10px;
  width: 95%;
  position: absolute;
  left: 12px;
  top: -25px;
  .ant-modal-title {
    color: #fff;
  }
}
.ant-modal-content {
  border-radius: 10px;
  padding-top: 15px;
  .ant-modal-close {
    position: absolute;
    top: -27px;
    right: 7px;
    color: #fff;
  }
}
.ant-modal-footer {
  .ant-btn-primary {
    border-color: #7f23cf;
    background-color: #7f23cf;
  }
  .ant-btn-primary:hover {
    color: #000;
    border-color: #7f23cf;
    background-color: #fff;
  }
  .ant-btn-default {
    border-color: #7f23cf;
    color: #7f23cf;
  }
}
.ant-checkbox-wrapper {
  margin-left: 0 !important;
}

.view_form_modal {
  .ant-modal-header {
    width: 97%;
  }
}

.custom-table {
  .ant-table-thead {
    .ant-table-cell {
      color: #b055f7;
      // border-color: none;
      background-color: #fff;
      font-style: none;
    }
    .ant-table-cell::before {
      background-color: #fff !important;
    }
  }
}
