@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import "antd/dist/antd.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
* {
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
#__next {
  height: 100%;
}
.text-color-red {
  color: rgb(255, 0, 0) !important;
}

/* width */
.add-template-wrapper ::-webkit-scrollbar,
.dashboard-feedback::-webkit-scrollbar,
.notification-wrapper::-webkit-scrollbar,
.received-applaud-table::-webkit-scrollbar,
.sider-question-wrapper::-webkit-scrollbar,
.received--all-applaud::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.add-template-wrapper::-webkit-scrollbar-track,
.dashboard-feedback::-webkit-scrollbar-track,
.notification-wrapper::-webkit-scrollbar-track,
.received-applaud-table::-webkit-scrollbar-track,
.sider-question-wrapper::-webkit-scrollbar-track,
.received--all-applaud::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.add-template-wrapper::-webkit-scrollbar-thumb,
.dashboard-feedback::-webkit-scrollbar-thumb,
.notification-wrapper::-webkit-scrollbar-thumb,
.received-applaud-table::-webkit-scrollbar-thumb,
.received--all-applaud::-webkit-scrollbar-thumb,
.sider-question-wrapper::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.add-template-wrapper::-webkit-scrollbar-thumb:hover,
.dashboard-feedback::-webkit-scrollbar-thumb:hover,
.notification-wrapper::-webkit-scrollbar-thumb:hover,
.received-applaud-table::-webkit-scrollbar-thumb:hover,
.received--all-applaud::-webkit-scrollbar-thumb:hover,
.sider-question-wrapper::-webkit-scrollbar-thumb:hover,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  border-top-color: #0f123f !important;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}
.ant-form .ant-form-item-label {
  font-weight: 600;
}

.single-line-clamp {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.two-line-clamp {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
