@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import "antd/dist/antd.css";
@import "./spinner.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "./antd.css"; */

html,
body,
* {
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
#__next {
  height: 100%;
}
.text-color-red {
  color: rgb(255, 0, 0) !important;
}

/* width */
.add-template-wrapper ::-webkit-scrollbar,
.dashboard-feedback::-webkit-scrollbar,
.notification-wrapper::-webkit-scrollbar,
.received-applaud-table::-webkit-scrollbar,
.sider-question-wrapper::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.add-template-wrapper::-webkit-scrollbar-track,
.dashboard-feedback::-webkit-scrollbar-track,
.notification-wrapper::-webkit-scrollbar-track,
.received-applaud-table::-webkit-scrollbar-track,
.sider-question-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.add-template-wrapper::-webkit-scrollbar-thumb,
.dashboard-feedback::-webkit-scrollbar-thumb,
.notification-wrapper::-webkit-scrollbar-thumb,
.received-applaud-table::-webkit-scrollbar-thumb,
.sider-question-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.add-template-wrapper::-webkit-scrollbar-thumb:hover,
.dashboard-feedback::-webkit-scrollbar-thumb:hover,
.notification-wrapper::-webkit-scrollbar-thumb:hover,
.received-applaud-table::-webkit-scrollbar-thumb:hover,
.sider-question-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
